### Best-selling albums
A short analysis of the best selling all-time albums downloaded from the official chart webpage:
https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/

In [94]:
import pandas as pd

## Load data
data = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/', header=0)[0]
data = data.rename(columns={'TITLE':'TYTUL', 'ARTIST':'ARTYSTA','YEAR':'ROK','HIGH POSN':'MAX POZ'})
data.head()

   POS                                 TYTUL  ARTYSTA   ROK  MAX POZ
0    1                         GREATEST HITS    QUEEN  1981        1
1    2                  GOLD - GREATEST HITS     ABBA  1992        1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
3    4                                    21    ADELE  2011        1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995        1

How many artists are on the list?

In [95]:
data['ARTYSTA'].nunique()

47

Which artists are the most common?

In [96]:
data['ARTYSTA'].value_counts()[0:2]

COLDPLAY     3
TAKE THAT    3
Name: ARTYSTA, dtype: int64

In [97]:
data = data.rename(str.capitalize, axis='columns')
data = data.drop('Max poz',axis=1)
data.head()

   Pos                                 Tytul  Artysta   Rok
0    1                         GREATEST HITS    QUEEN  1981
1    2                  GOLD - GREATEST HITS     ABBA  1992
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967
3    4                                    21    ADELE  2011
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995

In which year the highest number of albums were realised?

In [98]:
year_count = data['Rok'].value_counts()
year_count[year_count == max(year_count)]

2000    4
1987    4
Name: Rok, dtype: int64

How many all-time-selling albums were realised between 1960 and 1990?

In [99]:
data[(data['Rok'] >= 1960) & (data['Rok'] <= 1990)].count()['Artysta']

22

Which album is the youngest?

In [100]:
data[data['Rok'] == max(data['Rok'])]

    Pos Tytul Artysta   Rok
26   27    25   ADELE  2015

List of all the artists with their earliest album realised from the list.

In [101]:
artist_album = data.groupby('Artysta').min('Rok')['Rok']
artist_album

Artysta
ABBA                        1975
ADELE                       2011
ALANIS MORISSETTE           1995
AMY WINEHOUSE               2006
BEATLES                     1967
BOB MARLEY & THE WAILERS    1984
COLDPLAY                    2000
CORRS                       1997
DAVID GRAY                  1998
DIDO                        2000
DIRE STRAITS                1985
ED SHEERAN                  2014
EMINEM                      2000
FLEETWOOD MAC               1977
GEORGE MICHAEL              1998
JAMES BLUNT                 2004
JEFF WAYNE                  1978
KEANE                       2004
KINGS OF LEON               2008
LADY GAGA                   2008
LEONA LEWIS                 2007
MADONNA                     1990
MEAT LOAF                   1977
MICHAEL BUBLE               2009
MICHAEL JACKSON             1982
MIKE OLDFIELD               1973
NORAH JONES                 2002
OASIS                       1995
ORIGINAL CAST RECORDING     1965
ORIGINAL SOUNDTRACK         1977
PAUL SIMON                  1986
PHIL COLLINS                1989
PINK FLOYD                  1973
QUEEN                       1981
REM                         1992
ROBBIE WILLIAMS             1998
SCISSOR SISTERS             2004
SHANIA TWAIN                1997
SIMON & GARFUNKEL           1970
SIMPLY RED                  1991
SNOW PATROL                 2006
SPICE GIRLS                 1996
TAKE THAT                   2005
TRACY CHAPMAN               1988
TRAVIS                      1999
U2                          1987
VERVE                       1997
Name: Rok, dtype: int64

In [103]:
## Save a result to the csv
artist_album.to_csv('Artist_earliest.csv')