### Best-selling albums
A short analysis of the best selling all-time albums downloaded from the official chart webpage:
https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/

In [41]:
import pandas as pd

## Load data
data = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/', header=0)[0]
data = data.rename(columns={'TITLE':'TYTUL', 'ARTIST':'ARTYSTA','YEAR':'ROK','HIGH POSN':'MAX POZ'})
data.head()

   POS                                 TYTUL  ARTYSTA   ROK  MAX POZ
0    1                         GREATEST HITS    QUEEN  1981        1
1    2                  GOLD - GREATEST HITS     ABBA  1992        1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
3    4                                    21    ADELE  2011        1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995        1

How many artists are on the list?

In [42]:
data['ARTYSTA'].nunique()

47

Which artists are the most common?

In [43]:
data['ARTYSTA'].value_counts()[0:2]

COLDPLAY     3
TAKE THAT    3
Name: ARTYSTA, dtype: int64

In [44]:
data = data.rename(str.capitalize, axis='columns')
data = data.drop('Max poz',axis=1)
data.head()

   Pos                                 Tytul  Artysta   Rok
0    1                         GREATEST HITS    QUEEN  1981
1    2                  GOLD - GREATEST HITS     ABBA  1992
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967
3    4                                    21    ADELE  2011
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995

In which year the highest number of albums were realised?

In [45]:
year_count = data['Rok'].value_counts()
year_count[year_count == max(year_count)]

2000    4
1987    4
Name: Rok, dtype: int64

How many all-time-selling albums were realised between 1960 and 1990?

In [46]:
data[(data['Rok'] >= 1960) & (data['Rok'] <= 1990)].count()['Artysta']

22

Which album is the youngest?

In [47]:
data[data['Rok'] == max(data['Rok'])]

    Pos Tytul Artysta   Rok
26   27    25   ADELE  2015

List of all the artists with their earliest album realised from the list.

In [48]:
artist_album = data.sort_values('Rok').groupby('Artysta').agg({'Rok': 'min', 'Tytul':'first'}, axis=1)
artist_album

                           Rok                                   Tytul
Artysta
ABBA                      1975                           GREATEST HITS
ADELE                     2011                                      21
ALANIS MORISSETTE         1995                      JAGGED LITTLE PILL
AMY WINEHOUSE             2006                           BACK TO BLACK
BEATLES                   1967    SGT PEPPER'S LONELY HEARTS CLUB BAND
BOB MARLEY & THE WAILERS  1984                                  LEGEND
COLDPLAY                  2000                              PARACHUTES
CORRS                     1997                         TALK ON CORNERS
DAVID GRAY                1998                            WHITE LADDER
DIDO                      2000                                NO ANGEL
DIRE STRAITS              1985                        BROTHERS IN ARMS
ED SHEERAN                2014                                       X
EMINEM                    2000                 THE MARSHALL MATHERS LP
FLEETWOOD MAC             1977                                 RUMOURS
GEORGE MICHAEL            1998        LADIES & GENTLEMEN - THE BEST OF
JAMES BLUNT               2004                          BACK TO BEDLAM
JEFF WAYNE                1978                   THE WAR OF THE WORLDS
KEANE                     2004                         HOPES AND FEARS
KINGS OF LEON             2008                       ONLY BY THE NIGHT
LADY GAGA                 2008                                THE FAME
LEONA LEWIS               2007                                  SPIRIT
MADONNA                   1990               THE IMMACULATE COLLECTION
MEAT LOAF                 1977                         BAT OUT OF HELL
MICHAEL BUBLE             2009                              CRAZY LOVE
MICHAEL JACKSON           1982                                THRILLER
MIKE OLDFIELD             1973                           TUBULAR BELLS
NORAH JONES               2002                       COME AWAY WITH ME
OASIS                     1995          WHAT'S THE STORY MORNING GLORY
ORIGINAL CAST RECORDING   1965                      THE SOUND OF MUSIC
ORIGINAL SOUNDTRACK       1977                                  GREASE
PAUL SIMON                1986                               GRACELAND
PHIL COLLINS              1989                           BUT SERIOUSLY
PINK FLOYD                1973               THE DARK SIDE OF THE MOON
QUEEN                     1981                           GREATEST HITS
REM                       1992                AUTOMATIC FOR THE PEOPLE
ROBBIE WILLIAMS           1998                 I'VE BEEN EXPECTING YOU
SCISSOR SISTERS           2004                         SCISSOR SISTERS
SHANIA TWAIN              1997                            COME ON OVER
SIMON & GARFUNKEL         1970              BRIDGE OVER TROUBLED WATER
SIMPLY RED                1991                                   STARS
SNOW PATROL               2006                               EYES OPEN
SPICE GIRLS               1996                                   SPICE
TAKE THAT                 2005  NEVER FORGET - THE ULTIMATE COLLECTION
TRACY CHAPMAN             1988                           TRACY CHAPMAN
TRAVIS                    1999                             THE MAN WHO
U2                        1987                         THE JOSHUA TREE
VERVE                     1997                             URBAN HYMNS

In [49]:
## Save a result to the csv
artist_album.to_csv('Artist_earliest.csv')